* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2f3942;
    height: 100vh;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    user-select: none;
    .group {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px 0;
        .item {
            width: 15vw;
            height: 50vh;
            margin: 1vw;
            display: inline-block;
            cursor: pointer;
            position: relative;
            border-radius: 3vw;
            .img {
                border-radius: 2vw;
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: 75vh;
                position: relative;
            }
        }
    }
}
